* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f5f6fa;
}

.container {
  display: flex;
  height: 100vh;
}

/* Sidebar */
.sidebar {
  width: 250px;
  background: #fff;
  padding: 20px;
  border-right: 1px solid #eee;
}

.logo {
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: bold;
}

.nav a {
  display: block;
  margin-bottom: 15px;
  color: #333;
  text-decoration: none;
  font-size: 16px;
}

.divider {
  margin: 20px 0;
  height: 1px;
  background: #eee;
}

.nav h4 {
  margin-bottom: 10px;
  color: #666;
}

/* Main */
.main {
  flex-grow: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

/* Top Bar */
.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.top-bar input {
  width: 300px;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.create-btn {
  background-color: #4f46e5;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.user-icons {
  display: flex;
  gap: 10px;
}

.user-circle {
  width: 35px;
  height: 35px;
  background: #eee;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

/* Kanban */
.kanban {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  padding-bottom: 10px;
}

.column {
  background: #eeecec;
  padding: 15px;
  border-radius: 10px;
  min-width: 250px;
  height: fit-content;
  flex-shrink: 0;

}

dialog>form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

dialog.inputDialog {
  border: none;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  width: 300px;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.column h2 {
  margin-bottom: 15px;
  font-size: 18px;
}

.topCard{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

#trashIcon{
  width:1.3rem;
  height: 1.3rem;
}





.card {
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 15px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}
